:root {
  --bg: #273043;
  --bg-accent: #9197AE;
  --text-color: #EFF6EE;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  color: var(--text-color)
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
